body{
	background: #4aaaa5;
}
#mainContent{
	width: 625px;
	margin: auto;
}
.dottedBorder{
	border-style: dashed;
	border-color: brown;
	border-width: 5px;
	float: left;
	width: 225px;
	height: 350px;
}
h1, h2, p{
	color: white;
	text-align: center;
}